/* CSS Columns */

.columns-offset-1 { margin-top: 100px; }
.columns-offset-1 > :first-child { transform: translateY(-100px); }

.columns-1 { columns: 1; }
.columns-2 { columns: 2; }
.columns-3 { columns: 3; }

@media (--breakpoint-sm) {
  .sm-columns-1 { columns: 1; }
  .sm-columns-2 { columns: 2; }
  .sm-columns-3 { columns: 3; }

  .sm-columns-offset-1 { margin-top: 100px; }
  .sm-columns-offset-1 > :first-child { transform: translateY(-100px); }
}

@media (--breakpoint-md) {
  .md-columns-1 { columns: 1; }
  .md-columns-2 { columns: 2; }
  .md-columns-3 { columns: 3; }

  .md-columns-offset-1 { margin-top: 100px; }
  .md-columns-offset-1 > :first-child { transform: translateY(-100px); }
}

@media (--breakpoint-lg) {
  .lg-columns-1 { columns: 1; }
  .lg-columns-2 { columns: 2; }
  .lg-columns-3 { columns: 3; }

  .lg-columns-offset-1 { margin-top: 100px; }
  .lg-columns-offset-1 > :first-child { transform: translateY(-100px); }
}
