/* Position */

.sticky { position: sticky; }
@media (--breakpoint-sm) { .sm-sticky { position: sticky; } }
@media (--breakpoint-md) { .md-sticky { position: sticky; } }
@media (--breakpoint-lg) { .lg-sticky { position: sticky; } }

/* Responsive Order utilities, only need breakpoint-md */

@media (--breakpoint-md) {
  .md-order-0 { order: 0 }
  .md-order-1 { order: 1 }
  .md-order-2 { order: 2 }
  .md-order-3 { order: 3 }
  .md-order-last { order: 99999 }
}
